mat-form-field {
  width: 100%;

}

.mat-mdc-dialog-content {
  max-height: 75vh;
  min-height: 20vh;
  margin: 5px;
  padding-top: 10px ;
  padding-bottom: 10px;
  display: flex;
  align-items:baseline;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.mat-mdc-form-field {
  margin-top: 20px;
}

#icon {
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

#job-role-icon {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.297);
  display: block;
  text-align: center;
  padding: 5px;
  margin-top: 5px;
  height: 80px;
  width: 120px;
  border-radius: 20px;
  margin-left: 95px;
  margin-bottom: -20px;
}
.container1{
  background-color: #fdfdfd;
  
  border-radius: 70px;
  
 }

::ng-deep .mat-mdc-form-field-infix {
  background-color: #fdfdfd !important;
  width:00px;
  height: 5mm;
  margin-bottom: 2px;
  padding: 10px;
  border: 2px solid rgb(208, 207, 207); 
  border-radius: 8px;
  padding-top: none;

}
::ng-deep .mat-mdc-form-field-infix::after{
  border-radius: 20px;
  background-color: #fdfdfd;
  border-color: #fff;
}

::ng-deep .mat-mdc-form-field-infix:hover {
  background-color: #fdfdfd !important;
}

::ng-deep .mdc-text-field--filled{
  background-color: white !important;
  padding: 0px !important;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0 !important;
  border-radius: 10px;
  
  
}

::ng-deep .mat-mdc-dialog-container ,.mdc-dialog .cdk-dialog-container ,.mdc-dialog--open{
  height: 450px !important;
}
.enter{
  margin-top: -30px;
}
input{
  padding: 15px 5px;
  border: 2px solid rgb(207, 205, 205);
  margin-top:25px;
  width: 180px;

  border-radius: 10px;

}
input:hover{
  border: 2px solid rgb(207, 205, 205);
}
::ng-deep .mdc-line-ripple::before{
  border:none;
}
::ng-deep .mdc-line-ripple::after{
  border:none;
}
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before{
border-bottom-color: #fff;
}
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after{
border-bottom-color: #fff; 
}
::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple:hover{
  border-bottom-color: #fff; 
  
}
.error{
font-size: small;
text-align: center;
color:red;
position: absolute;
margin-top: 120px;

}

.abcd{
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  

} 
input:focus {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(207, 205, 205);
  outline: none;


}
