.mat-mdc-dialog-content {
  max-height: 75vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#icon {
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

#job-role-icon {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 5px;
  margin-top: 5px;
  height: 100px;
  width: 120px;
  border-radius: 20px;
  margin-left: 95px;
}
.user-form-container {
  background-color: #fdfdfd;
}

::ng-deep .mat-mdc-form-field-infix {
  background-color: #fdfdfd !important;
  width: 00px;
  height: 5mm;
  margin-bottom: 2px;
  padding: 10px;
  border: 2px solid rgb(208, 207, 207);
  border-radius: 8px;
  padding-top: none;
}
/* ::ng-deep .mat-mdc-form-field-infix::after{
  border-radius: 20px;
  background-color: #fdfdfd;
  border-color: #fff;
} */

/* ::ng-deep .mat-mdc-form-field-infix:hover {
  background-color: #fdfdfd !important;
} */

::ng-deep .mdc-text-field--filled {
  background-color: white !important;
  padding: 0px !important;
}
/* ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0 !important;
  border-radius: 10px;
} */

/* ::ng-deep .mat-mdc-dialog-container ,.mdc-dialog .cdk-dialog-container ,.mdc-dialog--open{
  height: 450px !important;
} */

input {
  padding: 15px 8px;
  border: 2px solid rgb(207, 205, 205);

  border-radius: 10px;
}
input:hover {
  border: 2px solid rgb(207, 205, 205);
}
::ng-deep .mdc-line-ripple::before {
  border: none;
}
::ng-deep .mdc-line-ripple::after {
  border: none;
}
::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::before {
  border-bottom-color: #fff;
}
::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple::after {
  border-bottom-color: #fff;
}
::ng-deep
  .mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-line-ripple:hover {
  border-bottom-color: #fff;
}

.mat-mdc-form-field {
  width: 100%;
  padding: 5px;
}
.error {
  font-size: 12px;
  color: red;
  visibility: visible;
}

input:focus {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(207, 205, 205);
  outline: none;
}
