<body class="abc">
<h1 class="block p-6 text-2xl font-bold text-scrum-landing-text">Enter Display Name</h1>
<mat-dialog-content  id="ddd"> 
  <mat-form-field>
    <mat-label class="text-gray-500">Display</mat-label>
    <input matInput [formControl]="displayName" class="text-scrum-landing-text" placeholder="Display Name" required />
    <mat-error
      *ngIf="displayName.invalid && displayName.touched && displayName.dirty"
    >
      {{ getErrorMessage() }}
    </mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  
  <button mat-button color="warn" (click)="closeDialog()">Cancel</button>
  <button
    [mat-dialog-close]="displayName.value"
    [disabled]="displayName.invalid"
    class="bg-scrum-button-inner-background hover:bg-hover-color active:bg-active-color font-medium text-scrum-button-inner-text px-4 py-2 rounded-lg text-sm"
  >
    Enter Room
  </button>
</mat-dialog-actions>
</body>
