<h1 class="block p-4 text-2xl font-bold font-sans">Enter Details</h1>
<div id="job-role-icon">
  <span id="icon">{{ data.img }}</span>
  <p class="job-role" id="selectedjobRole">{{ data.role }}</p>
</div>
<mat-dialog-content>
  <form [formGroup]="userFormGroup">
    <mat-form-field>
      <mat-label>Display</mat-label>
      <input
        matInput
        formControlName="displayName"
        placeholder="Display Name"
        type="text"
        required
       
      />
      <mat-error *ngIf="displayName.invalid && displayName.touched">
        {{ getErrorMessage() }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Job Role</mat-label>
      <mat-select
        formControlName="selectedJobRole"
        (selectionChange)="onRoleSelected()"
        placeholder="Choose a Role"
        required
      >
        <mat-option value="Select Here" disabled>Choose a Role</mat-option>
        <mat-option
          [value]="role.role"
          *ngFor="let role of emojiData; let index = index"
        >
          {{ role.role }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="selectedJobRole.invalid && selectedJobRole.touched">
        {{ getSelectedJobRoleErrorMessage() }}
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="{
      displayName: displayName.value,
      selectedJobRole: selectedJobRole.value
    }"
    [disabled]="userFormGroup.invalid"
  >
    Enter Room
  </button>
</mat-dialog-actions>