mat-form-field {
  width: 100%;
}

.mat-mdc-dialog-content {
    max-height: 65vh;
    min-height: 25vh;
    display: flex;
    align-items:baseline;
}
.abc{
 background-color: #fdfdfd;
 border:2px solid rgb(172, 171, 171);
 border-radius: 4px
}
