/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  height: 100%;
}

:root {
  --primary: #0064fe;
  --primary-shade: #00388f;
  --primary-pale: #e5effe;
  --primary-highlight: #5c9bff;
  --text-pale: #e5effe;
  --background-color: #ffffff;
  --text-color: #848b99;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-snack-bar-container.success {
  --mdc-snackbar-container-color: rgb(7, 176, 7);
  --mdc-snackbar-supporting-text-color: #fff;
}
.mat-mdc-snack-bar-container.danger {
  --mdc-snackbar-container-color: rgb(220, 39, 7);
  --mdc-snackbar-supporting-text-color: #fff;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background-color: #fdfbfb;
}

::-webkit-scrollbar-thumb {
  background-color: #aca8a8;
  border-radius: 10px;
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #868585;
}
