<div
  class="w-screen flex justify-around h-screen flex-col items-center xxs:h-auto overflow-hidden"
>
  <div
    class="w-full h-3/4 xxs:h-[550px] xs:h-[700px] overflow-hidden flex flex-col justify-center items-center gap-7 xxs:gap-3 xs:gap-4"
  >
    <div
      class="w-1/2 h-3/5 xxs:w-[250px] xxs:p-0 xxs:h-[330px] xs:w-[380px] xs:h-[450px] sm:w-[600px] md:w-9/12 lg:w-8/12 xxs:grid-cols-3 xs:grid-cols-3 xxs:gap-4 xs:gap-6 grid grid-cols-5 gap-14 justify-items-center overflow-y-auto overflow-x-hidden p-5 xs:p-1"
    >
      <div
        *ngFor="let userName of usersNameArray"
        class="text-primary-color font-bold w-[120px] xxs:w-[70px] xs:w-[90px] font-sans text-sm flex flex-col justify-center items-center gap-2"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 40 40"
          fill="none"
        >
          <g clip-path="url(#clip0_501_6285)">
            <path
              d="M19.0469 26.5469C18.1953 27.3984 16.8047 27.3984 15.9531 26.5469L10.9531 21.5469C10.1016 20.6953 10.1016 19.3047 10.9531 18.4531C11.8047 17.6016 13.1953 17.6016 14.0469 18.4531L17.5 21.9062L25.9531 13.4531C26.8047 12.6016 28.1953 12.6016 29.0469 13.4531C29.8984 14.3047 29.8984 15.6953 29.0469 16.5469L19.0469 26.5469ZM40 20C40 31.0469 31.0469 40 20 40C8.95312 40 0 31.0469 0 20C0 8.95312 8.95312 0 20 0C31.0469 0 40 8.95312 40 20ZM20 3.75C11.0234 3.75 3.75 11.0234 3.75 20C3.75 28.9766 11.0234 36.25 20 36.25C28.9766 36.25 36.25 28.9766 36.25 20C36.25 11.0234 28.9766 3.75 20 3.75Z"
              fill="#0064fe"
            />
          </g>
          <defs>
            <clipPath id="clip0_501_6285">
              <rect width="40" height="40" fill="white" />
            </clipPath>
          </defs>
        </svg>
        <p>
          {{ userName.length < 7 ? userName : userName.slice(0, 4)
          }}<span *ngIf="userName.length > 7">...</span>
        </p>
      </div>
    </div>

    <button mat-raised-button class="mt-12 xxs:mt-10 sm:mt-14 md:mt-10">
      Reveal
    </button>
  </div>

  <div
    class="flex flex-row flex-wrap justify-center items-center gap-3 mx-3 my-2 text-justify xxs:w-[260px] sm: w-[334px] md:w-auto"
  >
    <ng-container *ngFor="let points of cardCounts; let index = index">
      <button
        (click)="toggleActive(index)"
        id="card_button"
        [class.active-button]="activeIndex === index"
        class="card-hover hover:bg-primary-color active:bg-primary-shade-color w-[56px] h-[84px] rounded-md bg-white text-gray-800 mt-3 font-semibold py-2 px-4 border border-gray-800 shadow-md transition"
      >
        {{ points }}
      </button>
    </ng-container>
  </div>

  <ng-template
    class="flex justify-center items-center flex-row gap-6 font-card-font mx-3 my-4"
  >
    <ng-container *ngFor="let points of selectedPoints; let index = index">
      <div
        class="flex flex-row justify-center items-center gap-2 xxs:hidden xs:hidden"
      >
        <button
          class="w-[56px] h-[84px] rounded-md bg-white text-gray-800 font-semibold py-2 px-4 border border-gray-800 shadow-md transition"
        >
          {{ points }}
        </button>
        <p
          class="flex justify-center text-base text-scrum-text-color text-center font-card-points"
        >
          &#215;3
        </p>
      </div>
    </ng-container>

    <div class="flex items-center gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="26"
        height="24"
        viewBox="0 0 26 24"
        fill="none"
      >
        <g filter="url(#filter0_d_1014_1827)">
          <path
            d="M14.4474 11.7263C14.5068 11.9509 14.6107 12.1895 14.7591 12.4421C14.9076 12.6667 15.1451 12.7789 15.4717 12.7789C15.7092 12.7789 16.0061 12.6526 16.3624 12.4L21.3416 8.93331C21.7729 8.63301 22.3631 8.71783 22.6924 9.12745L23.1403 9.68472C23.499 10.1309 23.4106 10.7866 22.9466 11.1218L18.322 14.4632C17.9063 14.7719 17.461 15.0386 16.9859 15.2632C16.5406 15.4877 15.9764 15.6 15.2936 15.6C14.1356 15.6 13.3043 15.3193 12.7995 14.7579C12.2948 14.1684 11.8791 13.3825 11.5525 12.4C11.4931 12.1474 11.3892 11.8947 11.2408 11.6421C11.122 11.3614 10.8845 11.221 10.5282 11.221C10.261 11.221 9.91954 11.3754 9.50387 11.6842L4.65856 15.0653C4.22723 15.3663 3.63645 15.2817 3.30692 14.8718L2.85956 14.3153C2.50089 13.8691 2.58928 13.2134 3.05331 12.8782L7.67789 9.53684C8.12325 9.19999 8.58346 8.93333 9.05851 8.73684C9.53356 8.51227 10.0828 8.39999 10.7063 8.39999C11.8346 8.39999 12.6511 8.70877 13.1558 9.32631C13.6903 9.91578 14.1208 10.7158 14.4474 11.7263Z"
            fill="#0064fe"
          />
        </g>
        <defs>
          <filter
            id="filter0_d_1014_1827"
            x="-1"
            y="0"
            width="28"
            height="28"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feColorMatrix
              in="SourceAlpha"
              type="matrix"
              values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
              result="hardAlpha"
            />
            <feOffset dy="2" />
            <feGaussianBlur stdDeviation="1" />
            <feColorMatrix
              type="matrix"
              values="0 0 0 0 0.28 0 0 0 0 0.36 0 0 0 0 0.24 0 0 0 1 0"
            />
            <feBlend
              mode="normal"
              in2="BackgroundImageFix"
              result="effect1_dropShadow_1014_1827"
            />
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="effect1_dropShadow_1014_1827"
              result="shape"
            />
          </filter>
        </defs>
      </svg>
      <div
        class="py-3 px-6 outline-none bg-primary-color text-xl leading-6 rounded-[28px] shadow shadow-slate-500/50"
      >
        3.3
      </div>
    </div>
  </ng-template>
</div>

<ng-template #restart>
  <button class="mt-12 xxs:mt-10 sm:mt-14 md:mt-0" mat-raised-button>
    Restart
  </button></ng-template
>
