.active-button{
    background-color: var(--primary-shade) ;
    transform: translateY(-10px) scale(1.1);
    color: white;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1), background-color 0.4s ease; 
  }
  
.card-hover:hover{
    transform: translateY(-10px) scale(1.1);
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1), background-color 0.4s ease;
}
#card_button{
font-family: 'Space Mono' !important;
}
/* .main{
  background-image: radial-gradient(rgba(215, 214, 214, 0.463) 0.8px, transparent 0);
  background-size: 15px 15px;
  z-index: -1;
} */
.box{
  /* box-shadow: 0px 0px 5px; */
  box-shadow: 0 1px 2px 1px rgba(168,182,191,.6);
}
.section2{
  overflow:"scroll";
}