<div class="fixed inset-0 flex items-center bg-opacity-75 justify-center z-50 border-2px border-gray-400">
    <div class="bg-white dark:bg-gray-800 w-96 p-6 rounded-lg shadow-md ">
      <p class=" text-scrum-button-inner-text dark:text-gray-400 mb-8">You are currently Inactive , Do you want to Continue?</p>
      <div class="flex justify-end mt-6">
        <button  mat-raised-button color="warn" class="m-3" (click)="cancel()">Cancel</button>
        <button class="m-3 bg-scrum-button-inner-background hover:bg-hover-color active:bg-active-color font-medium text-scrum-button-inner-text px-3 py-1 rounded-lg" (click)="confirm()">Continue</button>
      </div>
    </div>
  </div>