<nav
  class="bg-white border-gray-200 border-b-2 dark:bg-gray-900 sticky top-0 z-50"
>
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 xl:mx-6 sm:mx-4"
  >
    <a routerLink="/" class="flex justify-start">
      <img
        src="../../assets/scrum_poker.svg"
        class="h-12 mr-3"
        alt="Scrum Poker Logo"
      />
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white"
        >Scrum Poker</span
      >
    </a>
  </div>
</nav>
<section
  class="flex flex-col items-center justify-center mx-6 md:mx-10 lg:mx-16 h-screen"
  id="initial-section"
>
  <h1
    class="font-extrabold text-center font-sans text-4xl md:text-5xl -mt-20 mb-12"
  >
    Scrum Poker For Agile Development Teams
  </h1>
  <p
    class="text-xl font-medium text-center text-scrum-text-color sm:px-20 mb-8 md:mb-4 sm:mb-2"
  >
    Have fun while being productive with our simple and complete tool.
  </p>
  <button
    class="bg-primary-color hover:bg-blue-700 active:bg-primary-shade-color font-medium text-white py-3 px-6 md:px-9 my-7 rounded-lg"
    (click)="openUserDialog()"
  >
    Start a Poker
  </button>
</section>

<section
  id="description"
  class="bg-gray-100 text-gray-800 flex flex-col items-center"
>
  <h1 class="font-bold font-sans text-3xl py-6 md:py-10">How it Works?</h1>
  <div class="container mx-auto p-4 md:p-8 flex flex-col text-justify">
    <h2 class="text-xl md:text-2xl font-semibold mb-4">
      Step 1: Create or Join a Session
    </h2>
    <p class="mb-6 md:mb-8">
      To start a new estimation session, click on the
      <strong>Create Session</strong> button. Alternatively, to join an existing
      session, ask the session creator for the unique session code and enter it
      in the <strong>"Join Session"</strong> field on the dashboard.
    </p>

    <h2 class="text-2xl font-semibold mb-4">Step 2: Cast Your Vote</h2>
    <p class="mb-6 md:mb-8">
      Once you have joined a session, you will be presented with the estimation
      cards (e.g., Fibonacci sequence) on your screen. Carefully review the task
      or user story being estimated. Choose the estimation card that best
      represents your assessment of the complexity of the task. Click on the
      card to cast your vote. Your vote will be anonymous and visible only to
      the facilitator.
    </p>

    <h2 class="text-2xl font-semibold mb-4">Step 3: Wait for Votes</h2>
    <p class="mb-6 md:mb-8">
      Wait for all team members to cast their votes. You will see a real-time
      update on the dashboard as team members vote.
    </p>

    <h2 class="text-2xl font-semibold mb-4">Step 4: Reveal Votes</h2>
    <p class="mb-6 md:mb-8">
      When everyone has voted, the session creator or facilitator can click on
      the
      <strong> Reveal Votes </strong>
      button to simultaneously reveal all the votes. The voting results will be
      displayed on the screen, allowing everyone to see the different estimates
      provided by team members.
    </p>

    <h2 class="text-2xl font-semibold mb-4">
      Step 5: Discuss and Re-Vote (Optional)
    </h2>
    <p class="mb-6 md:mb-8">
      If there are significant discrepancies in the estimates or if the team
      needs further clarification, use the
      <strong>"Discussion Board"</strong> to communicate and discuss the
      reasoning behind your estimates. If necessary, the team can re-vote on the
      task after the discussion to reach a consensus.
    </p>

    <h2 class="text-xl md:text-2xl font-semibold mb-4">
      Step 6: End the Session
    </h2>
    <p class="mb-6 md:mb-8">
      Once the team has reached a consensus or agreed on an estimate, the
      session creator can click on the
      <strong>End Session</strong> button to conclude the estimation process.
      The final estimate will be recorded and saved for future reference.
    </p>
  </div>
</section>
<a href="#description">
  <button
    class="fixed bottom-8 right-8 bg-gray-200 rounded-full w-14 h-14 shadow-lg flex justify-center items-center hover:bg-gray-300 active:bg-gray-400"
  >
    <span class="material-symbols-outlined"> arrow_downward </span>
  </button>
</a>
