section{
    scroll-snap-align: start;
     
}

#initial-section{
    scroll-margin-top: 5rem;
}
body {
    background-image: radial-gradient(rgb(200, 199, 199) 0.8px, transparent 0);
    background-size: 15px 15px;
    z-index: -1;
  }
nav{
    background-image: radial-gradient(rgb(200, 199, 199) 0.8px, transparent 0);
    background-size: 15px 15px;
    z-index: 1;
} 
.abc{
    font-weight: 900;
} 
